name: Public Repo Trivy Scan

on:
  workflow_dispatch:

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo: [
          "https://github.com/bigbluebutton/bigbluebutton.git"
"https://github.com/blindsidenetworks/scalelite.git"
"https://github.com/bigbluebutton/bbb-webrtc-sfu.git"
"https://github.com/bigbluebutton/bbb-webrtc-recorder.git"
"https://github.com/bigbluebutton/greenlight.git"
"https://github.com/bigbluebutton/bbb-presentation-video.git"
"https://github.com/bigbluebutton/bbb-playback.git"
"https://github.com/tchapgouv.git"
"https://github.com/expressvpn/lightway.git"
"https://github.com/ImageMagick/ImageMagick.git"
"https://github.com/Infomaniak/desktop-kDrive.git"
"https://github.com/jenkinsci/jenkins.git"
"https://github.com/jenkinsci/stapler.git"
"https://github.com/jenkinsci/jelly.git"
"https://github.com/jenkinsci/winstone.git"
"https://github.com/jenkinsci/script-security-plugin.git"
"https://github.com/jenkinsci/credentials-plugin.git"
"https://github.com/jenkinsci/credentials-binding-plugin.git"
"https://github.com/jenkinsci/workflow-cps-plugin.git"
"https://github.com/nextcloud/server.git"
"https://github.com/nextcloud/activity.git"
"https://github.com/nextcloud/bruteforcesettings.git"
"https://github.com/nextcloud/circles.git"
"https://github.com/nextcloud/files_pdfviewer.git"
"https://github.com/nextcloud/firstrunwizard.git"
"https://github.com/nextcloud/logreader.git"
"https://github.com/nextcloud/nextcloud_announcements.git"
"https://github.com/nextcloud/notifications.git"
"https://github.com/nextcloud/password_policy.git"
"https://github.com/nextcloud/photos.git"
"https://github.com/nextcloud/privacy.git"
"https://github.com/nextcloud/recommendations.git"
"https://github.com/nextcloud/related_resources.git"
"https://github.com/nextcloud/serverinfo.git"
"https://github.com/nextcloud/survey_client.git"
"https://github.com/nextcloud/suspicious_login.git"
"https://github.com/nextcloud/text.git"
"https://github.com/nextcloud/twofactor_totp.git"
"https://github.com/nextcloud/updater.git"
"https://github.com/nextcloud/user_saml.git"
"https://github.com/nextcloud/viewer.git"
"https://github.com/nextcloud/android.git"
"https://github.com/nextcloud/ios.git"
"https://github.com/nextcloud/desktop.git"
"https://github.com/opf/openproject.git"
"https://github.com/pendulum-project/ntpd-rs.git"
"https://github.com/pendulum-project/timestamped-socket.git"
"https://github.com/pendulum-project/clock-steering.git"
"https://github.com/owncloud/customgroups.git"
"https://github.com/owncloud/guests.git"
"https://github.com/owncloud/richdocuments.git"
"https://github.com/owncloud/notifications.git"
"https://github.com/owncloud/client.git"
"https://github.com/owncloud/core.git"
"https://github.com/owncloud/gallery.git"
"https://github.com/owncloud/ocis.git"
"https://github.com/owncloud/web.git"
"https://github.com/owncloud/web-extensions.git"
"https://github.com/owncloud/user_ldap.git"
"https://github.com/owncloud/oauth2.git"
"https://github.com/owncloud/openidconnect.git"
"https://github.com/owncloud/activity.git"
"https://github.com/owncloud/impersonate.git"
"https://github.com/owncloud/updater.git"
"https://github.com/owncloud/android.git"
"https://github.com/owncloud/ios-app.git"

        ]
    steps:
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget apt-transport-https gnupg lsb-release
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install -y trivy

      - name: Clone repository
        run: |
          REPO_NAME=$(basename "${{ matrix.repo }}" .git)
          echo "Cloning ${{ matrix.repo }}..."
          git clone --depth 1 "${{ matrix.repo }}" "$REPO_NAME"

      - name: Run Trivy scan
        run: |
          REPO_NAME=$(basename "${{ matrix.repo }}" .git)
          trivy fs "$REPO_NAME" --severity CRITICAL,HIGH,MEDIUM,LOW \
            --format json -o "$REPO_NAME-trivy-report.json"

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report-${{ matrix.repo }}
          path: "$REPO_NAME-trivy-report.json"
